# Data import

In [1]:
## Import packages we will use 
import json
import pprint 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import collections 
import tensorflow as tf
from sklearn.manifold import TSNE

import json
import yaml  # https://pypi.python.org/pypi/PyYAML
from boltons.iterutils import remap  # https://pypi.python.org/pypi/boltons

#http://sedimental.org/remap.html#

In [5]:
line

{'brand': {'brand_id': 'NEWBALANCE', 'title': {'C': 'New Balance'}},
 'brief_plain': {'C': '\nNew Balance MT910GX2 je pánská běžecká obuv vhodná pro celoroční nošení. Vyvážené tlumení zajišťuje maximální komfort při pohybu. Doplňkem je membrána GORE-TEX odpuzující vodu.\n'},
 'date': '2017-11-15T12:01:09.205Z',
 'product_id': '971294',
 'product_type': {'id': 'NM006', 'title': {'C': 'Obuv'}},
 'title_full': {'C': 'New Balance MT910GX2 7,5 UK (41,5 EU) - II. jakost'},
 'user_id': '204436daaae0b036ed980b755bdf2535',
 'variant_data': [{'availability': {'CZ': {'clearance_outlets': [0, 0],
     'external_availability': 0,
     'external_term_days': 999,
     'is_available': True,
     'numeric': 5,
     'our_availability': 1,
     'outlets': {'1': 0,
      '2': 0,
      '3': 0,
      '4': 0,
      '5': 0,
      '6': 0,
      '7': 0,
      '8': 0,
      '9': 0},
     'status': 'A2',
     'supplier_availability': 0,
     'supplier_term_days': 999}},
   'labels': {'CZ10MA': [{'label_id': 'BAZ'}, {'label_id': 'BAZ4'}]},
   'params': [],
   'price': {'CZ1000': {'currency': 'CZK',
     'current_price': '1664',
     'price': '2508',
     'promotion_amount': 10,
     'promotion_end': '20171231235959',
     'promotion_price': '1664',
     'promotion_start': '20171115000000',
     'rrp': '3399',
     'vat_rate': '21'}},
   'title': {'C': 'MT910GX2 7,5 UK (41,5 EU) - II. jakost'}}],
 'variant_id': '971294'}

In [14]:
i

513

In [11]:
len(line['variant_data'])

20

In [17]:
data = []
i=0
with open('../../products.json','r') as f:
    for line in f:
        i=i+1
        if (i%10000==0):
            print(i)
        line = json.loads(line)
        variant_id = line['variant_id'].replace(line['product_id'],"")
        if variant_id != '':
            index = int(variant_id)-1
            varianty = line['variant_data']
            if len(varianty)>index:
                line['variant_data'] = line['variant_data'][index]
                line['index_out_of_range'] = False
            else:
                line['variant_data'] = line['variant_data'][-1]
                line['index_out_of_range'] = True
        data.append(line)

10000
20000
30000
40000

In [18]:
def visit(path, key, value):
    if key == 'date':
        return key, pd.to_datetime(value)
    return key, value
data = remap(data, visit=visit)

In [19]:
def visit(path, key, value):
    if key == 'params':
        li=[]
        for param in value:
            l = list(param['values'].values())
            if not isinstance(l[0], str):
                l = [item for sublist in l for item in sublist]
            l = li.append((param['id'],l[0]))
        return key, dict(li)
    return key, value
data = remap(data, visit=visit)

Co to je promotion amount nevim je to neco jako sleva, je to u kazdyho, takze to muzeme brat jako indikator, ze je neco zlevneny

jsou nektery params pro kazdou variantu stejny (treba type of shoes?) budeme muset prozkoumat, ktery veci jsou stejny napric vsema variantama.

Nevim zatim jak presne funguje all year/season field, takze to tam zatim neni.. asi to bude kombinace toho jestli jsou summer nebo ne a toho co je tam o tom season type..

Podobne nevim jak poznat pro koho jsou ty boty obecne, key determination, kde se prave pise mens nebo kids nekde chybi, takze to bude taky nejaky slozitejsi.. muzu to vykoukavat z dat, ale pokud nam to reknou bude to samozrejme rychlejsi..

Pak se koukam na to ktery keys v elems se vyskytujou vsude. Jsou to jen tri:

In [21]:
len(l)

371

In [23]:
line

{'brand': {'brand_id': 'NEWBALANCE', 'title': {'C': 'New Balance'}},
 'brief_plain': {'C': '\nNew Balance MT910GX2 je pánská běžecká obuv vhodná pro celoroční nošení. Vyvážené tlumení zajišťuje maximální komfort při pohybu. Doplňkem je membrána GORE-TEX odpuzující vodu.\n'},
 'date': Timestamp('2017-11-15 12:01:09.205000'),
 'product_id': '971294',
 'product_type': {'id': 'NM006', 'title': {'C': 'Obuv'}},
 'title_full': {'C': 'New Balance MT910GX2 7,5 UK (41,5 EU) - II. jakost'},
 'user_id': '204436daaae0b036ed980b755bdf2535',
 'variant_data': [{'availability': {'CZ': {'clearance_outlets': [0, 0],
     'external_availability': 0,
     'external_term_days': 999,
     'is_available': True,
     'numeric': 5,
     'our_availability': 1,
     'outlets': {'1': 0,
      '2': 0,
      '3': 0,
      '4': 0,
      '5': 0,
      '6': 0,
      '7': 0,
      '8': 0,
      '9': 0},
     'status': 'A2',
     'supplier_availability': 0,
     'supplier_term_days': 999}},
   'labels': {'CZ10MA': [{'label_id': 'BAZ'}, {'label_id': 'BAZ4'}]},
   'params': {},
   'price': {'CZ1000': {'currency': 'CZK',
     'current_price': '1664',
     'price': '2508',
     'promotion_amount': 10,
     'promotion_end': '20171231235959',
     'promotion_price': '1664',
     'promotion_start': '20171115000000',
     'rrp': '3399',
     'vat_rate': '21'}},
   'title': {'C': 'MT910GX2 7,5 UK (41,5 EU) - II. jakost'}}],
 'variant_id': '971294'}

In [20]:
l=[]
for line in data:
    a=set(line['variant_data']['params'].keys())
    l.append(a)
set.intersection(*l)

TypeError: list indices must be integers or slices, not str

In [37]:
a=[1,2]
b=[1]*len(a)
c = dict(zip(a,b))

In [38]:
l=[]
for line in data:
    a=list(line['variant_data']['params'].keys())
    b = zip(a,[1]*len(a))
    l.append(dict(b))
df2 = pd.DataFrame(l)

In [11]:
df2.loc[lambda x: pd.isnull(x['DETERMINATION_OF_SHOES'])]

,AUTUMN_SHOES,BOYS_SHOES,COLLECTION_NM,COLOR,DETERMINATION,DETERMINATION_OF_SHOES,EXTENDED_SELECTION,FASHION,GIRLS_SHOES,HEEL,...,SIZE_EUR,SIZE_UK,SPORT,SPRING_SHOES,SUMMER_SHOES,TIE,TYPE_OF_SHOES,TYPE_OF_TOE,WINTER_SHOES,WOMENS_SHOES
96,NaN,1.0,1.0,1,1.0,NaN,NaN,1.0,1.0,NaN,...,1,NaN,1.0,NaN,NaN,1.0,1,NaN,1.0,1.0

In [54]:
numeric_vector = []
for line in data:
    numeric_vector.append({
        'user_id': line['user_id'],
        'product_id': line['product_id'],
        'variant_id': line['variant_id'],
        'date': line['date'],
        'brand': line['brand']['brand_id'],
        'price': int(line['variant_data']['price']['CZ1000']['price']),
        'promotion_amount': int(line['variant_data']['price']['CZ1000']['promotion_amount']),
        'Shoe_size': line['variant_data']['params']['SIZE_EUR'],
        'Type_of_shoes': line['variant_data']['params']['TYPE_OF_SHOES'],
        'Color': line['variant_data']['params']['COLOR']
    })
df = pd.DataFrame(numeric_vector).reset_index().drop("index",axis=1)

In [62]:
df.product_id.value_counts()[0:10]

1067675    4
1085963    3
937412     3
1073114    3
935880     3
1086571    3
1074458    2
935804     2
1068432    2
1079941    2
Name: product_id, dtype: int64

In [72]:
a = list(df[df['product_id']=='1086571'].index)

In [73]:
b = pd.DataFrame(list( data[i]['variant_data']['params'] for i in a ))

In [74]:
b.apply(lambda x: x.nunique(), axis=0)

AUTUMN_SHOES              1
COLLECTION_NM             1
COLOR                     1
DETERMINATION             1
DETERMINATION_OF_SHOES    1
FASHION                   1
HEEL                      1
MEN_WOMEN                 1
SEASON_OF_YEAR            1
SHOES_HIGH                1
SIZE_EUR                  2
SPORT                     1
SPRING_SHOES              1
SUMMER_SHOES              1
TIE                       1
TYPE_OF_SHOES             1
WINTER_SHOES              1
WOMENS_SHOES              1
dtype: int64